<html>
<head>
</head>
<body>
	{% load staticfiles %}

	<script src={% static "js/jquery-1.10.2.min.js" %}></script>
	<script src={% static "js/handlebars-1.0.0.js" %}></script>
	<script src={% static "js/ember.js" %}></script>
	<script src={% static "js/ember-data.js" %}></script>
	<script src={% static "js/application.js" %}></script>

	{% verbatim %}
	<script type="text/x-handlebars">
    {{ outlet }}
    </script>

<script type="text/x-handlebars" data-template-name="tours">
	{{#each}}
		{{title}}
		<br/>
		<hr>
	{{/each}}
    <button {{action "createNewTour"}}>Create New Tour</button>
</script>

<script type="text/x-handlebars" data-template-name="tour">
	{{title}}
    {{input type=text value=title}}
    test
    {{#each challenge in challenges}}
	    {{input type=text value=challenge.name}}
	    <br/>
	    <hr>
	    {{challenge.name}}
	    {{#each fact in challenge.facts}}
		    {{input type=text value=fact.factText}}
		    <br/>
	    {{/each}}
    {{/each}}
    <button {{action "save"}}>Save</button>
    <button {{action "checkDirty"}}>checkDirty</button>
</script>
	{% endverbatim %}
</body>
</html>
